<app-header></app-header>
<div class="about-container">
    <section class="mission">
      <h2>Our Mission</h2>
      <p>At PCT Bank Ltd, our mission is to provide exceptional financial services that meet the evolving needs of our customers, while maintaining the highest standards of integrity and professionalism.</p>
    </section>
  
    <section class="history">
      <h2>Our History</h2>
      <p>Founded in 1990, PCT Bank Ltd has grown from a small local bank to a leading financial institution with a global presence. Over the years, we have continuously evolved to meet the changing needs of our customers and the market.</p>
    </section>
  
    <section class="values">
      <h2>Our Values</h2>
      <ul>
        <li><strong>Integrity:</strong> We conduct our business with the highest level of integrity.</li>
        <li><strong>Customer Focus:</strong> Our customers are at the heart of everything we do.</li>
        <li><strong>Innovation:</strong> We embrace innovation to provide better services.</li>
        <li><strong>Excellence:</strong> We strive for excellence in all our endeavors.</li>
      </ul>
    </section>
  
    <section class="team">
      <h2>Meet Our Team</h2>
      <div class="team-members">
        <div class="team-member">
          <img src="assets/Dhruv.jpeg" alt="CEO">
          <h3>Dhruv Rathi</h3>
        </div>
        <div class="team-member">
          <img src="assets/Kanishk.jpg" alt="CFO" >
          <h3>Kanishk Gurati</h3>
        </div>
        <div class="team-member">
          <img src="assets/Rudra.jpg" alt="COO">
          <h3>Rudra Mriganka</h3>
        </div>
        <div class="team-member">
          <img src="assets/Usha.jpg" alt="CTO">
          <h3>Usha V.G.</h3>
        </div>
        <div class="team-member">
          <img src="assets/Tolha.jpg" alt="CMO">
          <h3>Mohammed Tolha Baig</h3>
          
        </div>
      </div>
    </section>
  
    <section class="achievements">
      <h2>Our Achievements</h2>
      <p>Over the years, PCT Bank Ltd has received numerous awards and recognitions for our exceptional services and contributions to the financial industry. We are proud of our achievements and remain committed to upholding our reputation for excellence.</p>
    </section>
  </div>
